.wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
}
.indexes-viewer {
  float: left;
  min-width: 20%;
  height: 95%;
}

.data-editor {
  float: left;
  min-width: 49%;
  height: 95%;
}

.site-view {
  float: left;
  min-width: 30%;
  height: 95%;
}

.indexes-viewer .jsoneditor .value {
  cursor: pointer;
}

.resizable {
  resize: horizontal;
  overflow: auto;
}
