.indexes-viewer {
  position: absolute;
  width: 400px;
  top: 10px;
  height: 95%;
}

.data-editor {
  position: absolute;
  min-width: 900px;
  margin-left: 405px;
  width: 50%;
  top: 10px;
  height: 95%;
}

.indexes-viewer .jsoneditor .value {
  cursor: pointer;
}
